<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="ConnStr" connectionString ="Data Source=.; Initial Catalog=MyTest; User Id=NULL; Password=wangyongzhi61011" />
  </connectionStrings>
</configuration>
<!--APP.config文件放在UI层-->
<!--DAL层通过ConfigurationManager可以读取到项目中的App.config中的配置信息-->
<!--引用关系:DAL项目引用Model；UI项目引用Model和DAL；Model层是模型，存放类-->